<!DOCTYPE html>
<head>
<title>
THINGS I LOVE
</title>


</head>
<body>
<background-color="grey">
<h2 style="color:black;background-color:white;font-size:12;text-align:center;"> THINGS I LOVE</h2>
<p> I love to do different types of things, but it varies with my personality,mood,and people who I am around with.
I am a big listener to edm music "which stands for electronic dance music".
The djs are</p><br>
<ul>
<li>Martin garrix</li> 
<li>Marshmello</li>
<li>Dj snake</li>
<li>Avincii</li>
<li>Jay hardway</li>
</ul>
<p>I love to play games, and no it is not childish games, I love playing video games and thats why I got to programming cause I want to program games.
The type of games I love</p>
<ul>
<li>Call of Duty</li>
<li>Fortnite</li>
<li>Spiderman</li>
<li>Injustice</li>
<li>Mortal Kombat</li>
<li>Assassins creed</li>
<li>Tomb Rider</li>
<li>Need For Speed</li>
<li>Forza Horizon</li>
<li>Watchdogs</li>
<li>Batman</li>
</ul> 
<a href="youtube.com">youtube</a>
</body>
</html>
